<form  action="/student-records" method="post">

  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name">

  <label for="age">Age</label>
  <input type="number" name="age" value="age">

  <label for="house-select">Select a house:</label>
  <select id="house-select" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>

  </select>

  <input type="submit" value="Create Student">

</form>
